<head>
  <style>
    .wrapper {
      background-color: #e6ffa7;
      border-radius: 0.5rem;
      padding: 2rem 0rem;
    }
    .header {
      text-align: center;
      margin: 2rem 0rem;
      font-weight: bold;
    }
    .id {
      text-align: center;
      background-color: #b4e33d;
      color: #362b5a;
      padding: 1rem;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      border: 5px solid rgb(235, 235, 235);
      font-weight: bolder;
    }
    p {
      text-align: center;
      font-size: 20px;
      color: #362b5a;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <p class="header">O.P Jindal University | National Innovation Fest'21</p>
    <p class="msg">Here is your MemberID for NIF Portal</p>
    <p class="id">Member ID : <%= cred.memberId %></p>
    <p class="id">Password : <%= cred.password %></p>
  </div>
</body>
